body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
header{
  height: 92vh;
  width: 100vw;
  z-index: 10;
}
.header-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
h2{
  color: white;
  margin: 0;
}
.h2-text{
  font-size: 1rem;
  font-weight: normal;
}
.video-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.blive_iframe{
  width: 70%;
  height: 90%;
  border: 0;
  position: absolute;
  bottom: 1rem;
}
.header-nav{
  position: sticky;
  top: 0px;
  z-index: 5;
  margin: 0 auto;
  width: 50%;
  
}
.nav{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-left: 0;
  background-color: rgb(63, 59, 59);
  opacity: 0.8;
  cursor: pointer;
  list-style: none;
  color: #8c8c8c;
  margin: 0;
}

.nav li{
  font-size: 1rem;
  line-height: 1.2;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.nav li:hover{
  background-color: #111;
}

main{
  margin: 0;
  padding: 0;
  width: 100vw;
  background: #111;
}
.main-text2, .lookbook{
  color: white;
  font-size: 18px;
  padding: 30px;
}
h3{
  margin: 0;
  color: white;
  font-size: 24px;
  padding-top: 20px;
}
.main-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main img{
  width: 10%;
  font-size: 16px;
  display: flex;
  margin: 0 auto;
}

.main-h2{
  display: flex;
  padding-top: 60px;
  padding-bottom: 10px;
}
.lookbook{
  margin: 0 auto;
}

.container1{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-column-gap: .625rem;
  grid-row-gap: .625rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-auto-columns: 1fr;

}

.container2{
  width: 80%;
  margin: 0 auto;
  grid-column-gap: .625rem;
  grid-row-gap: .625rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  display: grid;
}
.show{
  display: none;
}
.item-img{
  width: 100%;
  height: 100%;
  
  vertical-align: middle;
  border: 0;
  cursor: pointer;
}

.item{
  position: absolute;
  color: white;
  font-weight: bold;
  padding: 15px;
  font-size: 18px;
}
.text-container{
  width: 100%;
  padding: 20px;
}
.text-box{
  width: 20%;
  margin: 0 auto;
  border: .0625rem solid white;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
}
.textbox{
  color: white;
  line-height: bold;
}

.creditbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.shop1{
  width: 100%;
}
.shopbox1{
  display: flex;
  margin: 30px auto;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  width: 80%;

  background-color: black;
  color: white;
}
.shopbox2{
  display: flex;
  margin: 0px auto;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  width: 80%;

  background-color: black;
  color: white;
}
.line{
  display: flex;
  border-bottom: .1px solid rgb(77, 74, 74);
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.itbox{
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  margin-bottom: 10rem;
}
@media (max-width: 768px){
  .shopbox1{
    background-image: url(/imgs/2.jpg);
    z-index: 5;
  }
  .shopbox2{
    background-image: url(/imgs/4.jpg);
    z-index: 5;
  }
}

footer ul li a{
  color: white;
  text-decoration: none;
  padding: 10px;
}
footer ul li{
  list-style: none;
}

footer{
  height: 100%;
  background-color: #111;
}
.ftbox{
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}
.fttext1{
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
.fttext2{
  font-size: 0.9rem;
  color: #838383;
}
